<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>DIY Weather Station</title>
</head>
<body>
<h1 class="mb-4">DIY Weather Station</h1>
<!--
<div class="mb-8">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
-->
<div class="mt-8">
    <div class="text-right mb-4 no-underline hover:underline text-slate-700 hover:text-slate-800">
        <a href="/download-data" title="Download data in CSV format.">Download as csv file</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Temperature (&deg;C)</th>
            <th>Humidity (%)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.timestamp|date('l, dS M, Y') }}</td>
                <td>{{ item.timestamp|date('H:i') }}</td>
                <td>{{ item.temperature|format_number({rounding_mode: 'floor', fraction_digit: 2}) }}</td>
                <td>{{ item.humidity|format_number({rounding_mode: 'floor', fraction_digit: 2}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p>&copy; {{ now|date('Y') }}, Matthew Setter.</p>
</footer>
</body>
</html>